<div class="element">
  <h2>Speedtest</h2>
  <div *ngIf="!this.showResults">
    <mat-card class="wordBox">
      <div id="array" class="array">
        <div *ngFor="let word of wordArray">
          <p class="word" [ngClass]="{
            'green': word.color === 'green',
            'red': word.color === 'red',
            'blue': word.color === 'blue'
          }">{{ word.word }}</p>
        </div>
      </div>
    </mat-card>
    
    <br><br>
    <div class="inputAndGenerate">
      <mat-form-field class="input">
        <input matInput type="text" [formControl]="inputField">
      </mat-form-field>
      <button mat-icon-button (click)="onClick()">
        <mat-icon>cached</mat-icon>
      </button>
    </div>
  </div>
  <div class="selections">
    <mat-form-field class="select">
      <mat-select [(value)]="lang">
        <mat-option value="fi">Suomi</mat-option>
        <mat-option value="en">English</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="select">
      <mat-select [(value)]="time" placeholder="1 min">
        <mat-option value="30">30 s</mat-option>
        <mat-option value="60">1 min</mat-option>
        <mat-option value="90">1 min 30 s</mat-option>
        <mat-option value="120">2 min</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <p class="timer">{{ this.timeLeft }}</p>
  <div *ngIf="this.showResults">
    <button mat-icon-button (click)="onClick()">
      <mat-icon>cached</mat-icon>
    </button>
    <mat-card class="results">
      <h2>Results</h2>
      <p>{{ this.chars }} chars</p>
      <p>{{ this.chars / 5 }} words</p>
      <p>{{ this.getMistakes() }} % mistakes</p>
      <p>{{ this.getMissedChars() }} % missed chars</p>
      <p>{{ this.totalWords }} words</p>
    </mat-card>
  </div>

</div>
