.element {
  background-color: rgba(167, 168, 168, 0.808);
  padding: 20px;
}

.wordBox {
  display: inline-flex;
  width: 98%;
  background-color: rgba(167, 168, 168, 0.938);
}

.array {
  display: inline-flex;
}

.word {
  font-size: 16pt;
  padding: 5px;
  white-space: nowrap;
}

input {
  width: 90%;
  font-size: 16pt;
  border-radius: 8px;
  padding: 13px;
}

.time {
  display: inline;
}

.large {
  font-size: 20pt;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.timer {
  font-size: 18pt;
}

.results {
  border-style: solid;
  border-width: 4px;
  padding: 10px;
  border-radius: 7px;
  max-width: 200px;
  background-color: darkgray;
}

.generate {
  background-color: rgb(107, 114, 143);
  border-radius: 10px;
  border-style: outset;
}

.select {
  padding-left: 10px;
}

.input {
  width: 1000px;
}

.inputAndGenerate {
  padding: 10px;
}