/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #d1d1d4;
  background-image: url("pexels-photo-1169754.jpeg");
  background-attachment: fixed;
}

