<div class="nav">
  <a routerLink="/">Speedtest</a>
  <a routerLink="/about">About</a>
  <div *ngIf="!this.id_token">
    <div class="g-signin2" data-onsuccess="() => this.onSignIn()" data-theme="dark"></div>
    <div id="googleBtn">Google</div>
  </div>
</div>
